.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;


  /* PC ONLY!!! */
  min-width: 1100px; 
  /* PC ONLY!!! */
}

.main-layout__container {
  display: flex;
  flex: 1;
}

.main-layout__sidebar {
  flex: 0 0 15.625rem;
  min-width: 15.625rem;
  background-color: var(--color-white);
}

.main-layout__content {
  flex-grow: 1;
  overflow-x: auto;
  background-color: var(--color-bg-main-layout);
}
